@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #3b82f6;
  --color-muted: #27272a;
  --color-ring: #3b82f6;
}

body {
  background-color: #242424;
}
